<h1>Weekly Log Date</h1>
<h6>Name</h6>
<h6>Demon Parasol</h6>
<h6>Game Name/h6>
<h6>Role</h6>

<h3>Your Work and Hours</h3>
<table>
	<tr>
		<th>Date</th>
		<th>What</th>
		<th>Explanation</th>
		<th>Time Spent</th>
	</tr>
	<tr>
		<td>DATE OF YOUR WORK</td>
		<td>WHAT YOU DID</td>
		<td>EXPLANATION</td>
		<td>TIME IT TOOK YOU</td>
	</tr>
	<tr>
		<td>DATE OF YOUR WORK</td>
		<td>WHAT YOU DID</td>
		<td>EXPLANATION</td>
		<td>TIME IT TOOK YOU</td>
	</tr>
	<tr>
		<td>DATE OF YOUR WORK</td>
		<td>WHAT YOU DID</td>
		<td>EXPLANATION</td>
		<td>TIME IT TOOK YOU</td>
	</tr>
	<tr>
		<td>DATE OF YOUR WORK</td>
		<td>WHAT YOU DID</td>
		<td>EXPLANATION</td>
		<td>TIME IT TOOK YOU</td>
	</tr>
	<tr>
		<td>DATE OF YOUR WORK</td>
		<td>WHAT YOU DID</td>
		<td>EXPLANATION</td>
		<td>TIME IT TOOK YOU</td>
	</tr>
	<tr>
		<td>DATE OF YOUR WORK</td>
		<td>WHAT YOU DID</td>
		<td>EXPLANATION</td>
		<td>TIME IT TOOK YOU</td>
	</tr>
</table>

<h3>What I'm Planning On Doing Next Week</h3>
<p>stuff</p>

<h3>What I Discoverd This Week</h3>
<p>stuff</p>

<h3>Asking and Giving Help</h3>
<p>stuff</p>
